.wine-detail {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 2rem;
  grid-template-columns: auto auto;

  p {
    font-weight: bold;
    font-size: larger;
  }
}

.foods {
  margin-top: 4rem;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}
